<h1>Add a new ingredient to the <strong><%= @cocktail.name %></strong> recipe</h1>
<%= simple_form_for [@cocktail, @dose] do |f|%>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>
